<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Chi tiết sản phẩm</title>
</head>
<body>
<h2>Chi tiết sản phẩm</h2>
<table border="1">
    <thead>
    <tr>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Mô tả</th>
        <th>Nhà sản xuất</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.manufacturer}"></td>
    </tr>
    </tbody>
</table>
<a href="/products">Quay lại danh sách</a>
</body>
</html>